.nav {
  @include b(mobile) {
    order: 10;
  }
  &__list {
    display: flex;
    gap: 4rem;

    &_item {
      color: #fff;
      transition: opacity 0.3s;

      &_active {
        border-bottom: 3px solid #5c62ec;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
