.footer {
    padding: 60px 0 50px;
    background-color: #171718;

    @include b(mobile) {
        padding: 20px 0;
    }

    &__copy{
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
}