.project_detail {
  padding: 7rem 0;

  @include b(mobile) {
    padding: 3rem 0;
  }

  &__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 865px;
    margin: 0 auto;
    flex-direction: column;

    p {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 3rem;

      @include b(mobile) {
        margin-bottom: 2rem;
      }
    }
  }

  &_img {
    box-shadow: var(--box-shadow);
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 4rem;
    @include b(mobile) {
      margin-bottom: 2rem;
    }
  }

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid var(--blackpure);
    color: var(--blackpure);
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: var(--white);
    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.7;
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
}
