.project_detail {
  padding: 7rem 0;

  &__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    p {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  &_img {
    box-shadow: var(--box-shadow);
    max-width: 865px;
    max-height: 650px;
    object-fit: cover;
    border-radius: 10px;
  }

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid var(--blackpure);
    color: var(--blackpure);
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: var(--white);
    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.7;
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
}
