.header {
  position: sticky;
  top: 0;
  background-color: #171718;
  padding: 2rem 0;
  border: 1px solid #26292d;

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    @include b(tablet) {
      justify-content: start;
    }
  }

  &__title {
    font-family: 'Poppins' sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    margin-right: auto;
  }
}
