.header {
  background-color: #171718;
  padding: 2rem 0;
  border: 1px solid #26292D;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Poppins' sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
  }
  
}
